.app {
  text-align: center;
}

.header {
  font-size: 40px;
  color: white;
  background:#2d333b;
  padding-bottom: 30px;
}

.main {
  margin-top: 5%;
  color: white;
  padding: 0 24px;
}

.searchBar{
  width:90vw;
  margin:auto;
}