.capsule {
  border: 1rpx solid #858585;
  border-radius: 32px;
  position: fixed;
  z-index: 10001;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.401);
}

.btn {
  display: inline-block;
  width: calc(100% / 2 - 1rpx);
  height: 100%;
}

.splitter {
  display: inline-block;
  width: 1px;
  color: #82827e;
  vertical-align: middle;
  font-size:35px;
}